<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bs/css/bootstrap.css">
<!--    <link rel="stylesheet" href="/static/bs/css/bootstrap.min.css">-->
<!--    <link href="https://cdn.bootcss.com/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">-->
    <style>
        .container{
            margin-top:100px;
        }
        .btn{
           margin-top:10px;
        }
    </style>
</head>
<body>

<center> <h3>编辑书籍页面</h3> </center>

<center>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-7">
            <form action="" method="post">
                {% csrf_token %}

                <div>
                    <label for="">书籍名称</label>
                    <input type="text" class="form-control" name="title" value="{{ book_obj.title }}">
                </div>
                <div>
                    <label for="">价格</label>
                    <input type="text" class="form-control" name="price" value="{{ book_obj.price }}">
                </div>
                <div>
                    <label for="">出版日期</label>
                    <input type="date" class="form-control" name="pub_date" value="{{ book_obj.pub_date|date:'Y-m-d' }}">
                </div>
                <div>
                    <label for="">出版社</label>
                    <input type="text" class="form-control" name="publish" value="{{ book_obj.publish }}">
                </div>

                <input type="submit" class="btn btn-success pull-right">

            </form>
        </div>
    </div>
</div>
    <a href="/selectbook/" class="btn btn-primary">查询书籍页面</a>
</center>
</body>
</html>
