<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bs/css/bootstrap.css">
    <style>
        .container{
            margin-top:100px;
        }
        .btn{
           margin-top:10px;
        }
    </style>
</head>
<body>

<center> <h3>编辑书籍信息</h3> </center>

<center>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-7">
            <form action="" method="post">
                {% csrf_token %}

                <div>
                    <label for="">书名</label>
                    <input type="text" class="form-control" name="title" value="{{ book_obj.name}}">
                </div>
                <div>
                    <label for="">作者</label>
                    <input type="text" class="form-control" name="price" value="{{ book_obj.author }}">
                </div>
                <div>
                    <label for="">出版社</label>
                    <input type="date" class="form-control" name="pub_date" value="{{ book_obj.pub_date|date:'Y-m-d' }}">
                </div>
                <div>
                    <label for="">出版日期</label>
                    <input type="text" class="form-control" name="publish" value="{{ book_obj.publish }}">
                </div>
                <div>
                    <label for="">类别</label>
                    <input type="text" class="form-control" name="category" value="{{ book_obj.category }}">
                </div>
                <div>
                    <label for="">封面图片</label>
                    <input type="text" class="form-control" name="cover" value="{{ book_obj.cover }}">
                </div>
                <input type="submit" class="btn btn-success pull-right">

            </form>
        </div>
    </div>
</div>
    <a href="/selectbook/" class="btn btn-primary">查询书籍页面</a>
</center>
</body>
</html>
