<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Login</title>
    <link rel="stylesheet" href="/static/bs/css/bootstrap.css">
    <style>
        .container{
            margin-top: 100px;
        }
        .btn{
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <center>
        <h3>User Login</h3>
    </center>

    <center>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-offset-7">
                    <form action="{% url 'user_login' %}" method="post">
                        {% csrf_token %}
                        <label for="text">请输入用户名:</label>
                        <input type="text" id="username" name="username" class="form-control" required>
                        <label for="password">请输入密码:</label>
                        <input type="password" id="password" name="password" class="form-control" required>
                        <button type="submit" class="btn btn-success">登录</button>
                    </form>
                </div>
            </div>
        </div>
    </center>
</body>
</html>
